{# @var Model \rednaoeasycalculationforms\core\Managers\FormManager\ContainerManager\ColumnRenderer #}


<td colspan="{{ Model.GetColSpan }}">
    <label style="font-weight: bold">{{ Model.GetLabel }}</label>
    <div style="margin-top: 10px">
        {{ Model.GetValue }}
    </div>
</td>