{% extends "core/Managers/FormManager/Fields/FBFieldBase.twig" %}
{# @var Model \rednaoeasycalculationforms\core\Managers\FormManager\Fields\FBColorSwatcher #}
{% block content %}
    {% for currentOption in Model.GetSelectedOptions %}
        <ul style="margin: 0;padding: 0;list-style: none;">
            <li >
                <div style="display: flex;align-items: center;">
                    <div style="margin-right: 3px;display: inline-block;border:1px solid #888;width: 15px;height: 15px;background-color: {{ currentOption.Color }}">
                    </div>
                    {{ currentOption.Label }}
                </div>
            </li>
        </ul>
    {% endfor %}
{% endblock %}