{# @var Model \rednaoeasycalculationforms\core\Managers\FormManager\Fields\FBFieldBase #}
<div class="field_{{ Model.Options.Id }}" >
    {% block content %}
        {{ Model.ToText }}
    {% endblock %}
</div>