{% extends "core/Managers/FormManager/Fields/FBFieldBase.twig" %}
{# @var Model \rednaoeasycalculationforms\core\Managers\FormManager\Fields\FBMultipleOptionsField #}
{% block content %}
    {% if Model.GetSelectedOptions|length==1 %}
        {{ Model.GetSelectedOptions()[0].Label }}
    {% endif %}

    {% if Model.GetSelectedOptions|length>1 %}
        <ul style="margin:0;padding: 0;list-style: inside">
            {% for currentOption in Model.GetSelectedOptions  %}
                <li style="margin:0;padding: 0;list-style-position:inside;margin-bottom: 2px;">{{ currentOption.Label }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}